<main class="main">
  <div class="content">
    <div class="left-side">
      <form
        class="ui form segment monthly-premium-form"
        (change)="calculateMonthlyPremiumEvt()"
        [formGroup]="calculateMonthlyPremiumForm"
      >
        <h1 class="ui header">Calculate Monthly Premium</h1>
        <div class="field">
          <label>Name</label>
          <input
            (keyup)="calculateMonthlyPremiumEvt()"
            type="text"
            formControlName="name"
            placeholder="Name"
          />

          <label
            *ngIf="nameError"
            class="ui pointing red basic label error-label"
          >
            Please enter your name.
          </label>
        </div>
        <div class="field">
          <label>Date Of Birth</label>
          <input
            (change)="calculateMonthlyPremiumEvt()"
            type="date"
            formControlName="dob"
            placeholder="Date Of Birth"
          />
          <label
            *ngIf="dobError"
            class="ui pointing red basic label error-label"
          >
            Age should be greater than zero
          </label>
        </div>
        <div class="field">
          <label>Age</label>
          <input readonly type="text" formControlName="age" placeholder="Age" />
        </div>
        <div class="field">
          <label>Sum Insured</label>
          <input
            (keyup)="calculateMonthlyPremiumEvt()"
            type="number"
            formControlName="sumInsured"
            placeholder="Sum Insured"
          />
          <label
            *ngIf="sumInsuredError"
            class="ui pointing red basic label error-label"
          >
            Death Sum Insured should be greater than zero
          </label>
        </div>
        <div class="field">
          <label>Occupation</label>
          <select
            formControlName="occupation"
            (change)="calculateMonthlyPremiumEvt()"
          >
            <option *ngFor="let occupation of occupations">
              {{ occupation }}
            </option>
          </select>
          <label
            *ngIf="occupationError"
            class="ui pointing red basic label error-label"
          >
            Please select a occupation
          </label>
        </div>
        <label className="premium-calculated">
          <h3>Your Monthly Premium is:</h3>
          <label className="ui blue label">$ {{ monthlyPremium }}</label>
        </label>
      </form>
    </div>
  </div>
</main>

<router-outlet />
